.btnIndex {
  background-color: map-get($boton, colorFondo);
  border: map-get($boton, borde);
  border-radius: map-get($boton, radio);
  color: map-get($boton, colorLetra);
  padding: map-get($boton, padding);
  text-align: map-get($boton, text-align);
  text-decoration: map-get($boton, text-decoration);
  display: map-get($boton, display);
  font-size: map-get($boton, font-size);
  margin: map-get($boton, marginIndex);
  cursor: map-get($boton, cursor);
}
.btnBuscador {
  margin-left: map-get($boton, marginBuscador);
  background-color: map-get($boton, colorFondo);
  border: map-get($boton, borde);
  border-radius: map-get($boton, radio);
  color: map-get($boton, colorLetra);
  padding: map-get($boton, padding);
  text-align: map-get($boton, text-align);
  text-decoration: map-get($boton, text-decoration);
  display: map-get($boton, display);
  font-size: map-get($boton, font-size);
  cursor: map-get($boton, cursor);
}
.btnCard {
  margin: map-get($boton, marginCard);
  background-color: map-get($boton, colorFondo);
  border: map-get($boton, borde);
  border-radius: map-get($boton, radio);
  color: map-get($boton, colorLetra);
  padding: map-get($boton, padding);
  text-align: map-get($boton, text-align);
  text-decoration: map-get($boton, text-decoration);
  display: map-get($boton, display);
  font-size: map-get($boton, font-size);
  cursor: map-get($boton, cursor);
}
.btnPublicar {
  margin: map-get($boton, marginPublicar);
  background-color: map-get($boton, colorFondo);
  border: map-get($boton, borde);
  border-radius: map-get($boton, radio);
  color: map-get($boton, colorLetra);
  padding: map-get($boton, padding);
  text-align: map-get($boton, text-align);
  text-decoration: map-get($boton, text-decoration);
  display: map-get($boton, display);
  font-size: map-get($boton, font-size);
  cursor: map-get($boton, cursor);
}
