/*BARRA DE MENU*/
.menuPrincipal {
  background-color: $colorBlanco;
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 0 0 5px 0 $colorShadow;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  .logo {
    align-self: flex-start;
    padding-right: 30%;
  }
  .menu {
    order: 1;
    .navList {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      align-items: baseline;
      .navItem {
        margin: 30px 0 0 15px;
        .navLink {
          color: $colorNav;
          text-decoration: none;
          text-transform: uppercase;
          font-size: large;
          overflow: hidden;
          &:hover,
          &:focus {
            opacity: 0.65;
          }
        }
      }
    }
  }
}
