$colorPrimario: #fad8ce;
$colorSecundario: #d1e9a3;
$colorTerciario: #faceeb;
$colorBlanco: #fff;
$colorNegro: #0000;
$colorShadow: rgba(107, 107, 107, 0.76);
$colorNav: darkslategrey;
$colorFooter: #f0f1f0;
